In [1]:
#from IPython.core.display import display, HTML
#display(HTML("<style>.container { width:100% !important; }</style>"))
# ___library_import_statements___
import pandas as pd
# make pandas to print dataframes nicely
pd.set_option('expand_frame_repr', False)  
#import pandas_datareader.data as web
import matplotlib.pyplot as plt
#import datetime
import numpy as np
import time

In [2]:
#newest yahoo API 
#!pip uninstall --yes yfinance
!pip install yfinance 
import yfinance as yf
%matplotlib inline

Requirement already satisfied: yfinance in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (0.2.59)
Requirement already satisfied: pandas>=1.3.0 in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from yfinance) (2.2.4)
Requirement already satisfied: requests>=2.31 in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from yfinance) (4.3.7)
Requirement already satisfied: pytz>=2022.5 in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from yfinance) (3.18.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: curl_cffi>=0.7 in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from yfinance) (0.10.0)
Requirement already satisfied: protobuf<6,>=5.29.0 in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from yfinance) (5.29.4)
Requirement already satisfied: websockets>=11.0 in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from yfinance) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: cffi>=1.12.0 in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from curl_cffi>=0.7->yfinance) (2025.4.26)
Requirement already satisfied: pycparser in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.21)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lilka\dlnlp\ass1\env\lib\site-packages (from requests>=2.31->yfinance) (2.3.0)

In [3]:
#start_time = datetime.datetime(2017, 10, 1)
#end_time = datetime.datetime(2019, 1, 20)
#end_time = datetime.datetime.now().date().isoformat()         
#today = time.time()

In [4]:
# yahoo gives only daily historical data
def get_data(ticker):
    connected = False
    while not connected:
        try:
            df = yf.download(ticker, end=time.time(), period="5y", interval="1d", group_by = 'ticker', auto_adjust = False, timeout=5.0)
            connected = True
            print('connected to yahoo')
        except Exception as e:
            print("type error: " + str(e))
            time.sleep( 5 )
            pass   
    return df

In [5]:
def computeRSI(data, time_window):
    df = pd.DataFrame(data)
    df.columns = ['Close']
    df['change'] = df['Close'].diff()

    df['gain'] = df['change'].where(df['change'] > 0, 0.0)
    df['loss'] = -df['change'].where(df['change'] < 0, 0.0)

    # Initialize avg_gain and avg_loss
    df['avg_gain'] = np.nan
    df['avg_loss'] = np.nan

    n = time_window

    # Set the first average gain/loss
    df.at[df.index[n], 'avg_gain'] = df['gain'].iloc[1:n+1].mean()
    df.at[df.index[n], 'avg_loss'] = df['loss'].iloc[1:n+1].mean()

    # Calculate the rest with smoothing
    for i in range(n+1, len(df)):
        df.at[df.index[i], 'avg_gain'] = (df.at[df.index[i-1], 'avg_gain'] * (n - 1) + df.at[df.index[i], 'gain']) / n
        df.at[df.index[i], 'avg_loss'] = (df.at[df.index[i-1], 'avg_loss'] * (n - 1) + df.at[df.index[i], 'loss']) / n

    df['rs'] = df['avg_gain'] / df['avg_loss']
    df['rsi'] = 100 - (100 / (1 + df['rs']))
    return df['rsi']

In [6]:
def computeRSI2(data, time_window):
    diff = data.diff(1).dropna()        # diff in one field(one day)

    #this preservers dimensions off diff values
    up_chg = 0 * diff
    down_chg = 0 * diff
    
    # up change is equal to the positive difference, otherwise equal to zero
    up_chg[diff > 0] = diff[ diff>0 ]
    
    # down change is equal to negative deifference, otherwise equal to zero
    down_chg[diff < 0] = diff[ diff < 0 ]
    
    # check pandas documentation for ewm
    # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html
    # values are related to exponential decay
    # we set com=time_window-1 so we get decay alpha=1/time_window
    
    up_chg_avg   = up_chg.ewm(com=time_window-1 , min_periods=time_window).mean()
    down_chg_avg = down_chg.ewm(com=time_window-1 , min_periods=time_window).mean()
    
    rs = abs(up_chg_avg/down_chg_avg)
    rsi = 100 - 100/(1+rs)
    return rsi

In [7]:
result = pd.DataFrame(index=np.arange(0, 50), columns=['Date', 'Ticker', 'Close', 'RSI_w', 'RSI_m'])

# ___variables___
ticker = ['BABA',
          '9988.HK',    
          '2269.HK',
          '3690.HK',
          'OKTA',
          'TWLO',
          'TXG',
          'SE',
          'BZUN',
          '9991.HK',
          '2158.HK',
          '0909.HK',
          '9698.HK',
          '600276.SS',        
          '0066.HK',
          '0003.HK',
          '0270.HK',
          '0823.HK',
          '1044.HK',
          '0001.HK',
          '2318.HK',
          '0914.HK',
          '0124.HK',
          '3141.HK' 
         ]

In [8]:
for i in range(len(ticker)):

    # run the function, start="2020-03-01", end="2025-03-01"
    df = yf.download(ticker[i], period="5y",auto_adjust=False) 
        
    # Flatten MultiIndex columns by joining levels with a space
    df.columns = [''.join(col).strip() for col in df.columns]
    
    # Remove the ticker symbol from column names
    df.columns = df.columns.str.replace(f'{ticker[i]}', '', regex=False)
    
    # resample with dictionary
    # each column has to be handled differently
    agg_dict = {'Open': 'first',
              'High': 'max',
              'Low': 'min',
              'Close': 'last',
             # 'Adj Close': 'last',
              'Volume': 'mean'}

    rw_df = df.resample('W').agg(agg_dict)
    rw_df['RSI_w'] = computeRSI(rw_df['Close'], 14)

    rm_df = df.resample('ME').agg(agg_dict)
    rm_df['RSI_m'] = computeRSI(rm_df['Close'], 14)
        
    result.loc[i] = [df.index[-1].date(), 
                 ticker[i], 
                 "%.2f" % df['Close'].iloc[-1], 
                 round(rw_df['RSI_w'].iloc[-1], 0),
                 round(rm_df['RSI_m'].iloc[-1], 0)]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [9]:
result

          Date     Ticker   Close RSI_w RSI_m
0   2025-05-30       BABA  113.84  50.0  55.0
1   2025-05-30    9988.HK  113.90  52.0  56.0
2   2025-05-30    2269.HK   24.95  59.0  47.0
3   2025-05-30    3690.HK  138.00  45.0  50.0
4   2025-05-30       OKTA  103.17  51.0  53.0
5   2025-05-30       TWLO  117.70  59.0  57.0
6   2025-05-30        TXG    9.53  40.0  34.0
7   2025-05-30         SE  160.37  69.0  73.0
8   2025-05-30       BZUN    2.85  49.0  38.0
9   2025-05-30    9991.HK    7.54  50.0  40.0
10  2025-05-30    2158.HK    5.76  52.0  42.0
11  2025-05-30    0909.HK    2.67  46.0  39.0
12  2025-05-30    9698.HK   23.65  48.0  52.0
13  2025-05-30  600276.SS   54.74  66.0  59.0
14  2025-05-30    0066.HK   27.40  56.0  44.0
15  2025-05-30    0003.HK    6.90  62.0  53.0
16  2025-05-30    0270.HK    6.38  64.0  52.0
17  2025-05-30    0823.HK   41.65  68.0  53.0
18  2025-05-30    1044.HK   21.25  44.0  35.0
19  2025-05-30    0001.HK   44.15  54.0  53.0
20  2025-05-30    2318.HK   46.15  52.0  51.0
21  2025-05-30    0914.HK   20.45  46.0  45.0
22  2025-05-30    0124.HK    0.20  38.0  33.0
23  2025-05-30    3141.HK   14.63  60.0  55.0
24         NaN        NaN     NaN   NaN   NaN
25         NaN        NaN     NaN   NaN   NaN
26         NaN        NaN     NaN   NaN   NaN
27         NaN        NaN     NaN   NaN   NaN
28         NaN        NaN     NaN   NaN   NaN
29         NaN        NaN     NaN   NaN   NaN
30         NaN        NaN     NaN   NaN   NaN
31         NaN        NaN     NaN   NaN   NaN
32         NaN        NaN     NaN   NaN   NaN
33         NaN        NaN     NaN   NaN   NaN
34         NaN        NaN     NaN   NaN   NaN
35         NaN        NaN     NaN   NaN   NaN
36         NaN        NaN     NaN   NaN   NaN
37         NaN        NaN     NaN   NaN   NaN
38         NaN        NaN     NaN   NaN   NaN
39         NaN        NaN     NaN   NaN   NaN
40         NaN        NaN     NaN   NaN   NaN
41         NaN        NaN     NaN   NaN   NaN
42         NaN        NaN     NaN   NaN   NaN
43         NaN        NaN     NaN   NaN   NaN
44         NaN        NaN     NaN   NaN   NaN
45         NaN        NaN     NaN   NaN   NaN
46         NaN        NaN     NaN   NaN   NaN
47         NaN        NaN     NaN   NaN   NaN
48         NaN        NaN     NaN   NaN   NaN
49         NaN        NaN     NaN   NaN   NaN

In [17]:
result = pd.DataFrame(index=np.arange(0, 50), columns=['Date', 'Ticker', 'Close', 'RSI_w', 'RSI_m'])

# ___variables___
ticker = ['515800.SS',
          '159633.SZ',
          'BND',
          'BNDX',
          'GLDM', 
          'BCI',
          'SGOV',
          '3053.HK',
          # '511360.SS',
          '3110.HK',
          # '563020.SS',
          '515180.SS',
          'IJR',
          'VNQ',
          'VNQI',
          '512200.SS',
          'VT',
          'BNDW',
          'REET',
          'USFR',
          # '511880.SS'
         ]

In [18]:
for i in range(len(ticker)):

    # run the function, start="2020-03-01", end="2025-03-01"
    df = yf.download(ticker[i], period="5y",auto_adjust=False) 
        
    # Flatten MultiIndex columns by joining levels with a space
    df.columns = [''.join(col).strip() for col in df.columns]
    
    # Remove the ticker symbol from column names
    df.columns = df.columns.str.replace(f'{ticker[i]}', '', regex=False)
    
    # resample with dictionary
    # each column has to be handled differently
    agg_dict = {'Open': 'first',
              'High': 'max',
              'Low': 'min',
              'Close': 'last',
             # 'Adj Close': 'last',
              'Volume': 'mean'}

    rw_df = df.resample('W').agg(agg_dict)
    rw_df['RSI_w'] = computeRSI(rw_df['Close'], 14)

    rm_df = df.resample('ME').agg(agg_dict)
    rm_df['RSI_m'] = computeRSI(rm_df['Close'], 14)
        
    result.loc[i] = [df.index[-1].date(), 
                 ticker[i], 
                 "%.2f" % df['Close'].iloc[-1], 
                 round(rw_df['RSI_w'].iloc[-1], 0),
                 round(rm_df['RSI_m'].iloc[-1], 0)]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [19]:
result

          Date     Ticker    Close RSI_w  RSI_m
0   2025-05-30  515800.SS     1.00  51.0   51.0
1   2025-05-30  159633.SZ     2.48  52.0   62.0
2   2025-05-30        BND    72.77  50.0   46.0
3   2025-05-30       BNDX    49.45  54.0   49.0
4   2025-05-30       GLDM    65.24  65.0   85.0
5   2025-05-30        BCI    20.30  47.0   47.0
6   2025-05-30       SGOV   100.71  56.0   56.0
7   2025-05-30    3053.HK  1158.60  80.0  100.0
8   2025-05-30    3110.HK    26.24  65.0   65.0
9   2025-05-30  515180.SS     1.36  55.0   54.0
10  2025-05-30        IJR   105.37  46.0   49.0
11  2025-05-30        VNQ    89.32  49.0   50.0
12  2025-05-30       VNQI    44.17  64.0   54.0
13  2025-05-30  512200.SS     1.35  47.0   63.0
14  2025-05-30         VT   123.37  58.0   65.0
15  2025-05-30       BNDW    68.85  51.0   47.0
16  2025-05-30       REET    24.85  54.0   53.0
17  2025-05-30       USFR    50.32  46.0   52.0
18         NaN        NaN      NaN   NaN    NaN
19         NaN        NaN      NaN   NaN    NaN
20         NaN        NaN      NaN   NaN    NaN
21         NaN        NaN      NaN   NaN    NaN
22         NaN        NaN      NaN   NaN    NaN
23         NaN        NaN      NaN   NaN    NaN
24         NaN        NaN      NaN   NaN    NaN
25         NaN        NaN      NaN   NaN    NaN
26         NaN        NaN      NaN   NaN    NaN
27         NaN        NaN      NaN   NaN    NaN
28         NaN        NaN      NaN   NaN    NaN
29         NaN        NaN      NaN   NaN    NaN
30         NaN        NaN      NaN   NaN    NaN
31         NaN        NaN      NaN   NaN    NaN
32         NaN        NaN      NaN   NaN    NaN
33         NaN        NaN      NaN   NaN    NaN
34         NaN        NaN      NaN   NaN    NaN
35         NaN        NaN      NaN   NaN    NaN
36         NaN        NaN      NaN   NaN    NaN
37         NaN        NaN      NaN   NaN    NaN
38         NaN        NaN      NaN   NaN    NaN
39         NaN        NaN      NaN   NaN    NaN
40         NaN        NaN      NaN   NaN    NaN
41         NaN        NaN      NaN   NaN    NaN
42         NaN        NaN      NaN   NaN    NaN
43         NaN        NaN      NaN   NaN    NaN
44         NaN        NaN      NaN   NaN    NaN
45         NaN        NaN      NaN   NaN    NaN
46         NaN        NaN      NaN   NaN    NaN
47         NaN        NaN      NaN   NaN    NaN
48         NaN        NaN      NaN   NaN    NaN
49         NaN        NaN      NaN   NaN    NaN